# Second Assignment: Exercise and a Personal Project

In this second and final assignment you have the opportunity to choose a dataset and perform data analysis to answer the type of questions that interest you or will utilise a technique that you want to gain experience in. 

You may wish to select a dataset that we have already looked at (e.g. Titanic, or IMDB), or select another open-source dataset from Kaggle (or other). Once you've selected a dataset to investigate, proceed to complete the template cells below. In the markdown cells, you should provide a brief introduction to the dataset, and write the questions that you will investigate. Then use the code cells to answer the questions you select.

### Logistics

**Deadline.** Please see the Assessment deadline in specified in Canvas. Late submissions will not be accepted. This notebook is the Second of two Assignments for this course.

**The Assignment Task.** This Second Assignment portfolio will account for the remaining 70 points of the 100 (Assignment 1 was worth 30 marks). This Second Assignment features two parts: 
* Part 1 is out of 20 marks, based on a defined set of problems. This will extend your application of numpy, pandas, and matplotlib on the iris dataset. 
* Part 2 is out of 50 marks, and requires you to perform exploratory data analysis on a dataset of your choice. You should start by selecting a dataset and acquiring the data. Describe the context of the dataset with commentary and descriptive statistics. Then you should choose three questions to ask of the dataset and then outline how to answer them. Where appropriate, seek to display the results with an appropriate plot.

**Submission.** Please email your solutions and your completed Declaration of Authorship (DoA) form to weeklyclasses@conted.ox.ac.uk

# Part 1 (Set Exercise) (out of 20 marks)

In this first part of Assignment 2, you are asked to continue work on the Iris dataset and further utilise libraries such as NumPy, Pandas and Matplotlib.

### Set up cells

In [1]:
## Let's import the libraries we are going to use later on
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Let's set the precision for NumPy and Pandas
np.set_printoptions(precision=3)
pd.options.display.float_format = '{:,.2f}'.format

### Import iris dataset

In [2]:
# Input:
# Import iris keeping the text column intact
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', 
                     names=['sepal length', 'sepal width', 'petal length', 'petal width', 'species'],
                     dtype=[np.float32, np.float32, np.float32, np.float32, '|S15']
)

### 1A. Produce some descriptive statistics for the iris dataset (5 marks)

For example, display the count of records, mean, std, min, max and in addtion to the quartiles for each of the columns.

In [3]:
# Write your solution here.
iris_df = pd.DataFrame(iris)
iris_df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count        150.00       150.00        150.00       150.00
mean           5.84         3.05          3.76         1.20
std            0.83         0.43          1.76         0.76
min            4.30         2.00          1.00         0.10
25%            5.10         2.80          1.60         0.30
50%            5.80         3.00          4.35         1.30
75%            6.40         3.30          5.10         1.80
max            7.90         4.40          6.90         2.50

### 1B. Calculate the maximum petal width for each species of flower (5 marks)

In [4]:
# Write your solution here.

iris_df.groupby(['species']).petal_width.max()

species
b'Iris-setosa'       0.60
b'Iris-versicolor'   1.80
b'Iris-virginica'    2.50
Name: petal_width, dtype: float32

### 1C. Data Visualisation (5 marks)

Produce a boxplot for each of the four columns of the iris dataset (sepal_length, sepal_width, petal_length and petal_width) in addition to the volume column (if you completed Assignment 1).

In [5]:
print(iris_df.sample(5))
print(iris_df.info())
iris_df_versicolor = iris_df[iris_df.species == b'Iris-versicolor']

     sepal_length  sepal_width  petal_length  petal_width             species
149          5.90         3.00          5.10         1.80   b'Iris-virginica'
4            5.00         3.60          1.40         0.20      b'Iris-setosa'
30           4.80         3.10          1.60         0.20      b'Iris-setosa'
96           5.70         2.90          4.20         1.30  b'Iris-versicolor'
32           5.20         4.10          1.50         0.10      b'Iris-setosa'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float32
 1   sepal_width   150 non-null    float32
 2   petal_length  150 non-null    float32
 3   petal_width   150 non-null    float32
 4   species       150 non-null    object
dtypes: float32(4), object(1)
memory usage: 3.6+ KB
None

In [8]:

iris_df_versicolor.head()
# iris_df_versicolor.boxplot(column="sepal_length")
plt.boxplot(iris_df_versicolor.sepal_length)

### 1D. Provide a short intrepretation of the data visualised by your 1C solution. (5 marks)

'''Edit this markdown cell and write your comment on the data visualisation produced by 1C here...'''

# Part 2 - Personal Project (out of 50 marks)
In this second part of Assignment 2 you have the opportunity to perform some data analysis on a dataset of your choice. Choose a dataset or a scenario that interests you and provide an outline of the scenario, clean the dataset (if needed), perform some statistic analysis, visualise this data analysis and comment on what you see.

## [Provide a brief introduction to your dataset here] (5 marks)

It would be good to briefly introduce your dataset here. You could also illustrate an overview of the column information, and a sample of rows from the database using some methods that we have looked at.

In [ ]:
# Add setup code here - set the path to the chosen dataset, and import the relevant Python libraries.

In [ ]:
# Load in your data and display some descriptive statistics and commentary to provide a summary of the dataset.

## 1. [Choose and write a question here] (15 marks)
### (e.g. What percentage of male and female passengers perished?)

In [ ]:
# Add code here to answer this question

## 2. [Choose and write a question here] (15 marks)
### (e.g. Were people travelling alone more at risk?)

In [ ]:
# Add code here to answer this question

## 3. [Choose and write a question here] (15 marks)

### (e.g. Did the port of departure affect the cost of the ticket?)

In [ ]:
# Add code here to answer this question